[Unit]
Description=SwitchMap WEB Application
After=network-online.target cockroachdb.service

[Service]
WorkingDirectory=/var/www/switchmap/
ExecStart=/var/www/switchmap/switchmap
User=root
Restart=always

[Install]
WantedBy=multi-user.target