.header{
    width: 100%;
    background: rgb(255, 140, 0);
    height: 40px;
    display: flex;
    position: relative;
    z-index: 100;
}
.header a{
    cursor: pointer;
    width: 40px;
    height: 40px;
}
#logo{
    position: absolute;
    float: left;
    width: 40px;
    height: 40px;
}
#logo img{
    width: 40px;
    height: 40px;
}
#title{
    width: 120px;
    position: absolute;
    font-size: 24px;
    color: black;
    font-style: italic;
    font-family: sans-serif;
    padding-left: 40px;
    text-align: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#userbar{
    position: absolute;
    right: 0;
    margin-right: 5px;
    font-family: sans-serif;
    font-size: 16px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#userbar a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
}
#userbar a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 600px){
    #userbar{
        display: none;
    }
}