.image{
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    margin-top: 5px;
}
.info{
    margin-top: 10px;
    margin-left: 5px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}
label{
    margin-left: 5px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}
input[type="text"]{
    margin-left: 5px;
    height: 18px;
    font-family: sans-serif;
    border-radius: 4px;
    font-size: 14px;
    border: 2px solid rgb(255, 140, 0);
}
input[type="submit"]{
    margin-left: 5px;
    height: 24px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #181616;
    color: rgb(255, 140, 0);
    transition: 0.3s;
}
input[type="submit"]:hover{
    background-color: rgb(255, 140, 0);
    color: #181616;
}
.danger{
    width: 90px;
    height: 30px;
    margin: 5px;
    line-height: 30px;
    cursor: pointer;
    position: absolute;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    top: 0;
    right: 0;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 16px;
    border: none;
    background-color: rgb(255, 60, 0);
    color: #181616;
    transition: 0.3s;
}
.danger:hover{
    background-color: #181616;
    color: rgb(255, 60, 0);
}