{{ define "title" }}
<title>Карта</title>
{{ end }}

{{ define "styles" }}
<link href="/public/css/build.css" rel="stylesheet" />
{{ end }}

{{ define "topScripts" }}
<script
  type="text/javascript"
  src="/public/js/node_modules/jquery/dist/jquery.min.js"
></script>
{{ end }}

{{ define "navLinks" }}
<li>
  <button class="button" onclick="fAdd()">Добавить этаж</button>
  <ul class="subnavbar">
    <li>
      <input
        id="num"
        type="text"
        placeholder="Номер"
        required
        name="number"
        autocomplete="off"
        pattern="[1-9]?[0-9]"
      />
    </li>
  </ul>
</li>
{{ end }}

{{ define "content" }}
<div class="map">
  {{ range.Floors }}
  <div class="floor">
    <a class="delete" onclick="fdel(this)">x</a>
    <a href="{{ .Build}}/f{{ .Floor}}">
      <div style="margin-top: 2px">
        <img src="/public/images/floor.svg" />
      </div>
      <div class="num" style="text-align: center;">{{ .Floor}} этаж</div>
    </a>
  </div>
  {{ end }}
</div>
{{ end }}

{{ define "bottomScripts" }}
<script type="text/javascript" src="/public/js/src/adding.js"></script>
<script type="text/javascript" src="/public/js/src/deleting.js"></script>
{{ end }}
