{{ define "title" }}
<title>{{ .Sw.Name}}</title>
{{ end }}

{{ define "styles" }}
<link href="/public/css/change.css" rel="stylesheet" />
{{ end }}

{{ define "topScripts" }}
{{ end }}

{{ define "navLinks" }}
{{ end }}

{{ define "content" }}
<div class="map">
  <div class="image">
    <img src="/public/images/{{ .Sw.Model}}.png" />
  </div>
  <div style="display: block; width: 100%;">
    <div class="info">Name: {{ .Sw.Name}}</div>
    <div class="info">Model: {{ .Sw.Revision}}</div>
    <div class="info">Serial number: {{ .Sw.Serial}}</div>
  </div>
  <form style="margin-top: 10px" method="POST">
    <label>IP: </label>
    <input type="text" name="IP" placeholder="IP" value="{{ .Sw.IP}}" />
    <label>MAC: </label>
    <input type="text" name="MAC" placeholder="MAC" value="{{ .Sw.MAC}}" />
    <label>UpSwitch: </label>
    <input type="text" name="upswitch" placeholder="UpSwitch" value="{{ .Sw.Upswitch}}" />
    <input type="submit" value="Изменить" />
  </form>
  <a id="delete" onclick="swdel()">
    <div class="danger">Удалить</div>
  </a>
</div>
{{ end }}

{{ define "bottomScripts" }}
<script type="module" src="/public/js/deleting.js"></script>
{{ end }}