{{ define "title" }}
<title>Список</title>
{{ end }}

{{ define "styles" }}
<link href="/public/css/list.css" rel="stylesheet" />
{{ end }}

{{ define "topScripts" }}
<script type="text/javascript" src="/public/js/node_modules/jquery/dist/jquery.min.js"></script>
{{ end }}

{{ define "navLinks" }}
{{ end }}

{{ define "content" }}
<div class="map">
  <div id="find">
    <form>
      <input type="text" placeholder="Введите имя свитча" autocomplete="off" />
    </form>
  </div>
  <div id="list">
    <table>
      <thead>
        <tr>
          <th>Имя</th>
          <th>IP</th>
          <th>MAC</th>
          <th>Serial</th>
          <th>Модель</th>
          <th>Свитч</th>
          <th>Расположение</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{ range.Swits }}
        <tr id="{{ .Name}}">
          <td>{{ .Name}}</td>
          <td>{{ .IP}}</td>
          <td>{{ .MAC}}</td>
          <td>{{ .Serial}}</td>
          <td>{{ .Model}}</td>
          <td>{{ .Upswitch}}</td>
          <td>{{ .Build}} {{ .Floor}}</td>
          <td>
            <a href="/list/change/{{ .Name}}">
              <div style="width: 100%; height: 100%">Изменить</div>
            </a>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}

{{ define "bottomScripts" }}
<script type="text/javascript" src="/public/js/src/search.js"></script>
{{ end }}