<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SwitchMap</title>
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="/static/css/login.css" rel="stylesheet">
        <link rel="icon" href="/static/icons/switchmap_icon_orange.png" type="image/png">
        <link rel="shortcut icon" href="/static/icons/switchmap_icon_orange.png" type="image/png">
    </head>
    <body>
        <div class="wrap">
            <div class="login">
                <form method="post"> 
                    <div class="container">
                        <label for="uname"><b>Логин</b></label>
                        <input type="text" required placeholder="Введите логин" name="uname" >
                        <label for="psw"><b>Пароль</b></label>
                        <input type="password" required placeholder="Введите пароль" name="psw" >
                        <button type="submit">Вход</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>