{{ define "title" }}
<title>Карта</title>
{{ end }}

{{ define "styles" }}
<link href="/public/css/map.css" rel="stylesheet" />
{{ end }}

{{ define "topScripts" }}
<script type="text/javascript" src="/public/node_modules/jquery/dist/jquery.min.js"></script>
{{ end }}

{{ define "navLinks" }}
<li>
  <button class="button" onclick="bAdd()">Добавить корпус</button>
  <ul class="subnavbar">
    <li>
      <input id="name" type="text" placeholder="Имя" required name="name" autocomplete="off" />
    </li>
    <li>
      <input id="addr" type="text" placeholder="Ссылка" required name="address" autocomplete="off"
        pattern="b[1-9]?[0-9]" />
    </li>
  </ul>
</li>
{{ end }}

{{ define "content" }}
<div class="map">
  {{ range.Builds }}
  <div class="build">
    <a class="delete" onclick="bdel(this)">X</a>
    <a href="map/{{ .Address}}">
      <div style="margin-top: 2px">
        <img src="/public/images/build.svg" />
      </div>
      <div class="name" style="text-align: center;">{{ .Name}}</div>
    </a>
  </div>
  {{ end }}
</div>
{{ end }}

{{ define "bottomScripts" }}
<script type="text/javascript" src="/public/js/adding.js"></script>
<script type="text/javascript" src="/public/js/deleting.js"></script>
{{ end }}