{{ define "title" }}
<title>Карта</title>
{{ end }}

{{ define "styles" }}
<link href="/public/css/plan.css" rel="stylesheet" />
{{ end }}

{{ define "topScripts" }}
<script type="module" src="/public/node_modules/jquery/dist/jquery.min.js"></script>
<script type="module" src="/public/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
<script type="module" src="/public/node_modules/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
{{ end }}

{{ define "navLinks" }}
<li><a href="/planupdate/{{ .Build}}/{{ .Floor}}">Обновить план</a></li>
<li><a href="/map/{{ .Build}}">Назад</a></li>
<li>
  <button class="button" onclick="swAdd()">Добавить свитч</button>
  <ul class="subnavbar">
    <li>
      <input type="text" id="name" name="name" placeholder="Имя" required autocomplete="off" />
    </li>
    <li>
      <select id="model" name="model" autocomplete="off">
        <option disabled selected>Модель</option>
        <option value="HP-ProCurve">HP-ProCurve</option>
        <option value="Cisco">Cisco</option>
        <option value="D-Link">D-Link</option>
      </select>
    </li>
  </ul>
</li>
{{ end }}

{{ define "content" }}
<div class="background">
  <div id="dragplan" class="plan">
    <img data-wheel-zoom id="image" src="/private/plans/{{ .Build}}{{ .Floor}}.png" ; max-height:100%;
      max-weidth:100% />
    {{ range.Swits }}
    <div class="switch" style="top: {{ .Postop}}px; left: {{ .Posleft}}px;">
      <a href="/list/change/{{ .Name}}">
        <div id="{{ .Name}}" class="change">Изменить</div>
      </a>
      <div id="{{ .Name}}" class="blink">
        <span>>_</span>
      </div>
      <div id="{{ .Name}}" class="reload" onclick="reload(this)">
        <span>&#x21bb</span>
      </div>
      <div id="{{ .Name}}" class="download">
        <span>&#x2B73</span>
      </div>
      <div id="{{ .Name}}" class="image">
        <img src="/public/images/{{ .Model}}.png" />
      </div>
      <div id="{{ .Name}}" class="name">{{ .Name}}</div>
      <div id="{{ .Name}}" class="cir">
        <div id="q1" class="quarter">
          <div class="quartercont">
            <div>IP</div>
            <div style="font-size: 10px; font-family: sans-serif">{{ .IP}}</div>
          </div>
        </div>
        <div id="q2" class="quarter">
          <div class="quartercont">
            <div>Serial</div>
            <div style="font-size: 8px; font-family: sans-serif">
              {{ .Serial}}
            </div>
          </div>
        </div>
        <div id="q3" class="quarter">
          <div class="quartercont">
            <div>UpSwitch</div>
            <div>{{ .Upswitch}}</div>
          </div>
        </div>
        <div id="q4" class="quarter">
          <div class="quartercont">
            <div>MAC</div>
            <div style="font-size: 10px; font-family: sans-serif">
              {{ .MAC}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "bottomScripts" }}
<script type="text/javascript" src="/public/js/app.js"></script>
<script type="text/javascript" src="/public/js/adding.js"></script>
<script type="text/javascript" src="/public/js/blink.js"></script>
<script type="text/javascript" src="/public/js/zoom.js"></script>
{{ end }}