{{ define "title" }}
<title>Загрузка плана</title>
{{ end }}

{{ define "styles" }}
<link href="/public/css/upload.css" rel="stylesheet" />
{{ end }}

{{ define "navLinks" }}
<li><a href="/map/{{ .Build}}">Назад</a></li>
{{ end }}

{{ define "content" }}
<div class="map">
  <div class="hint">
    План для этого этажа не найден, пожалуйста, загрузите его
  </div>
  <div style="margin-left: 5px;">
    <form
      action="/planupdate/{{ .Build}}/{{ .Floor}}"
      id="load"
      enctype="multipart/form-data"
      method="post"
    >
      <p>
        <input type="file" accept=".png" name="load" />
        <input type="submit" value="Загрузить" />
      </p>
    </form>
  </div>
</div>
{{ end }}
