{{ define "title" }}
<title>Визуализация</title>
{{ end }}

{{ define "styles" }}
<link type="text/css" href="/public/js/node_modules/vis-network/dist/vis-network.min.css" rel="stylesheet" />
{{ end }}

{{ define "topScripts" }}
<script type="module" src="/public/node_modules/jquery/dist/jquery.min.js"></script>
<script type="module" src="/public/node_modules/vis-network/dist/vis-network.min.js"></script>
{{ end }}

{{ define "navLinks" }}
{{ end }}

{{ define "content" }}
<div id="viz"></div>
{{ end }}

{{ define "bottomScripts" }}
<script type="text/javascript" src="/public/js/visual.js"></script>
{{ end }}