{{ define "title" }}
<title>Визуализация</title>
{{ end }}

{{ define "styles" }}
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"
  rel="stylesheet"
  type="text/css"
/>
{{ end }}

{{ define "topScripts" }}
<script
  type="text/javascript"
  src="/public/js/plugins/jquery-3.4.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
{{ end }}

{{ define "navLinks" }}
{{ end }}

{{ define "content" }}
<div id="viz"></div>
{{ end }}

{{ define "bottomScripts" }}
<script type="text/javascript" src="/public/js/visual.js"></script>
{{ end }}
