{{ define "title" }}
<title>Визуализация</title>
{{ end }}

{{ define "styles" }}
<link href="/public/js/node_modules/vis-network/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
{{ end }}

{{ define "topScripts" }}
<script
  type="text/javascript"
  src="/public/js/node_modules/jquery/dist/jquery.min.js"
></script>
<script
  type="text/javascript"
  src="/public/js/node_modules/vis-network/dist/vis-network.min.js"
></script>
{{ end }}

{{ define "navLinks" }}
{{ end }}

{{ define "content" }}
<div id="viz"></div>
{{ end }}

{{ define "bottomScripts" }}
<script type="text/javascript" src="/public/js/visual.js"></script>
{{ end }}